# Mode initial : User EXEC
# Passage en mode Privileged EXEC via enable (droit de lecture)
# Passage en mode Global COnfiguration via conf t (droit de modifier)

en
conf t

interface GigabitEthernet1/0/24
    no switchport
    ip address 192.168.23.1 255.255.255.252
    no shutdown
exit
end
write memory
sh run
